@import "_colors";

@mixin container_common{
        display: grid;
        height: 100vh;
}

@mixin container_tiny_resolution {
    grid-template-rows: 1rem auto auto;
}

@mixin container_small_resolution {
    .container {
        grid-template-rows: 20% auto auto;
    }
}

@mixin container_large_resolution {
    .container {
        grid-template-columns: 5% 30% 60% 5%;
        grid-template-rows: 50% 50%;
    }
}

@mixin container_extralarge_resolution {
    .container {
        grid-template-columns: 10% 25% 55% 10%;
        grid-template-rows: 50% 50%;
    }
}

@mixin menu_common {
    display: flex;
    grid-row-start: 1;
    background-color: $menu_color;
    & a {
        margin-right: 5px;
    }
}

@mixin menu_as_row_common {
    flex-direction: row;
    grid-row-end: 2;
}

@mixin menu_as_row_tiny_resolution {
    justify-content: flex-start;
}

@mixin menu_as_row_small_resolution {
    .menu {
        justify-content: space-evenly;
        align-items: center;
    }
}

@mixin menu_as_column_common {
    flex-direction: column;
    justify-content: space-evenly;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;
}

@mixin contents_tiny_small_resolutions {
    .content-a {
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: $content_a_color;
    }

    .content-b {
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: $content_b_color;
    }
}

@mixin contents_large_extralarge_resolutions {
    .content-a {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: $content_a_color;
    }

    .content-b {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: $content_b_color;
    }
}